<div class="currency-inputs">
    <input [ngModel]="amount$ | async" (ngModelChange)="onAmountChange($event)" placeholder="Amount">
    <div class="btn-group" ngbDropdown role="group">
        <button class="btn btn-outline-danger" ngbDropdownToggle>{{baseCurrency$ | async}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button *ngFor="let country of countries$ | async" ngbDropdownItem
                    (click)="onBaseCurrencyChange(country)">{{country}}</button>
        </div>
    </div>
</div>
